<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.wechatapp.mapper.MusicMapper">

  <resultMap id="musicMap" type="com.pig4cloud.pig.wechatapp.entity.Music">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="singer" column="singer"/>
    <result property="originalSong" column="original_song"/>
    <result property="lyricism" column="lyricism"/>
    <result property="composeMusic" column="compose_music"/>
    <result property="lyrics" column="lyrics"/>
    <result property="type" column="type"/>
    <result property="duration" column="duration"/>
    <result property="releaseDate" column="release_date"/>
    <result property="uploadDate" column="upload_date"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateBy" column="update_by"/>
    <result property="remark" column="remark"/>
    <result property="delFlag" column="del_flag"/>
  </resultMap>
</mapper>
